<!DOCTYPE html>

<html ng-app="tracker">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Resource Tracker</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="js/tracker.js"></script>

</head>

<body ng-controller="Controller">
	
	<center><div class="container">

			<div class="col-xs-4"><button class="btn btn-danger" ng-click="subtractLife()">Subtract</button></div>
			<div class="col-xs-4"><h3>Temple Life: {{temple}}</h3></div>
			<div class="col-xs-4"><button class="btn btn-success" ng-click="addLife()">Add</button></div>


	</div></center>

	<center><div class="container">

		<div class="row pad">
			<div ng-bind-html="diceImgs[0] | html"></div>
		</div>

		<div class="row pad">
			<div class="col-xs-6"><div ng-bind-html="diceImgs[1] | html"></div></div>
			<div class="col-xs-6"><div ng-bind-html="diceImgs[2] | html"></div></div>
		</div>

		<div class="row pad">
			<div class="col-xs-6"><div ng-bind-html="diceImgs[3] | html"></div></div>
			<div class="col-xs-6"><div ng-bind-html="diceImgs[4] | html"></div></div>
		</div>


	</div></center>

	<center><button class="btn btn-primary pad" ng-click="roll()">ROLL</button></center>

	<br>

	<center><div class="container">
		<div class="row">
			<div class="col-xs-3"><img src="images/soldier.png"></div>
			<div class="col-xs-3">{{counts[0]}}</div>
			<div class="col-xs-3"><button class="btn btn-danger" ng-click="subtractCount(0)">-1</button></div>
			<div class="col-xs-3"><button class="btn btn-success" ng-click="addCount(0)">+1</button></div>
		</div><br>

		<div class="row">
			<div class="col-xs-3"><img src="images/prayer.png"></div>
			<div class="col-xs-3">{{counts[1]}}</div>
			<div class="col-xs-3"><button class="btn btn-danger" ng-click="subtractCount(1)">-1</button></div>
			<div class="col-xs-3"><button class="btn btn-success" ng-click="addCount(1)">+1</button></div>
		</div><br>

		<div class="row">
			<div class="col-xs-3"><img src="images/oracle.png"></div>
			<div class="col-xs-3">{{counts[2]}}</div>
			<div class="col-xs-3"><button class="btn btn-danger" ng-click="subtractCount(2)">-1</button></div>
			<div class="col-xs-3"><button class="btn btn-success" ng-click="addCount(2)">+1</button></div>
		</div><br>
			

	</div></center>

	<br>

	<center><div class="container">
		<div class="col-md-4 pad"><button class="btn btn-primary" ng-click="playCard(0)">Play Soldier</button></div>		
		<div class="col-md-4 pad"><button class="btn btn-primary" ng-click="playCard(1)">Play Prayer</button></div>
		<div class="col-md-4 pad"><button class="btn btn-primary" ng-click="playCard(2)">Play Oracle</button></div>
	</div></center>


</body>


</html>